@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1300px;
}
.navbar{
    background: crimson;
    position: relative;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    font-size: 35px;
    font-family: Montserrat;
    font-weight: 600;
    padding-left: 25px;
}
.logo a{
    color: #fff;
}
.navbar .navigation{
    display: block;
}
.navigation ul li {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
    font-weight: 500;

}
.navigation ul li a{
    color: #fff;
}